@charset "UTF-8";
@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldItalic"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-boldit-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-boldit-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightItalic"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-lightit-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-lightit-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-it-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro SemiBold Italic"), local("SourceSansPro-SemiBoldItalic"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-semiboldit-webfont.woff2") format("woff2"), url("/BC_S/bl_rebrand/css/fonts/sourcesanspro-semiboldit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

html {
  font-size: 100%;
  font-family: "Source Sans Pro", Helvetica, Clean, sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: #00aeef;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: normal; }

html,
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8); }

/* need to break this out */
* {
  padding: 0;
  margin: 0; }

header {
  padding-top: 3rem; }
  @media (min-width: 61.25em) {
    header {
      padding-top: 0; } }

span[data-icon]:before {
  font-family: barclayssymbol;
  content: attr(data-icon);
  speak: none;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem; }

span[data-icon].md:before {
  font-size: 1.25rem; }

span[data-icon].lg:before {
  font-size: 1.5rem; }

a {
  color: #007eb6;
  cursor: pointer;
  text-decoration: none; }

p {
  margin: 0.25rem 0 0.875rem 0; }

img {
  width: 100%;
  height: auto; }

q {
  quotes: "“" "”" "‘" "’"; }

q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

ul, ol {
  padding: 0;
  padding-left: 1rem; }

li {
  margin-bottom: 1rem; }

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 1.5rem; }

p + h3 {
  margin-top: 1.5rem; }

h3 + p {
  margin-top: 0.25rem; }

h4 {
  font-size: 1.1rem;
  color: #444;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 1.5rem; }

h4 + p {
  margin-top: 0.25rem; }

h5, h6 {
  font-size: 1.1rem;
  color: #444;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 1.5rem;
  font-style: italic; }

h5 + p {
  margin-top: 0.25rem; }

h6 + p {
  margin-top: 0.25rem; }

.nospaceafter {
  margin-bottom: 0;
  padding-bottom: 0; }

.nospaceafter + * {
  margin-top: 0;
  padding-top: 0; }

/* begin gs-container */
.content {
  border-top: 0.0625rem solid #ffffff;
  padding-top: 0;
  padding-bottom: 2.25rem;
  padding-top: 1rem; }

.content:after {
  content: '';
  display: block;
  clear: both; }

.u-cf:after, .u-cf:before {
  content: '';
  display: table; }

.gs-container {
  position: relative;
  margin: 0 auto; }

.content .gs-container, .content-footer .gs-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.825rem; }

@media (min-width: 46.25em) {
  .gs-container {
    max-width: 46.25em; } }

@media (min-width: 61.25em) {
  .gs-container {
    /*max-width: $break-three;*/
    max-width: 67.5em; } }

@media (min-width: 71.25em) {
  .gs-container {
    max-width: 67.5em; } }

@media (min-width: 81.25em) {
  .gs-container {
    max-width: 67.5em; } }

@media (min-width: 30em) {
  .content .gs-container, .content-footer .gs-container {
    padding: 0 1.25rem; } }

article {
  background: #f5f5f8; }

.content__main-column {
  background: #fff;
  margin: auto;
  position: relative;
  bottom: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 61.25em) {
    .content__main-column {
      padding-top: 0.25rem;
      margin-left: 0;
      margin-right: 17rem;
      min-height: 8rem;
      padding-right: 2rem; } }

.content__article-body {
  width: 100%; }
  @media (min-width: 61.25em) {
    .content__article-body {
      margin-left: 12rem;
      width: calc( 100% - 12rem);
      position: relative; } }

@media (min-width: 61.25em) {
  .content__header {
    padding-top: 3rem;
    background: #007eb6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%; } }

.content__secondary-column {
  display: none;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 17.5rem;
  overflow: hidden; }
  .content__secondary-column .certifications-disclosures {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem; }
  @media (min-width: 61.25em) {
    .content__secondary-column {
      display: block; } }

.main .logo-ref {
  display: block;
  padding-top: 1rem; }
  @media (min-width: 61.25em) {
    .main .logo-ref {
      display: none; } }

.logo-ref {
  display: block;
  max-width: 130px;
  padding-top: 2px;
  height: 28px; }

.header__sub {
  display: flex;
  flex-direction: column; }
  @media (min-width: 61.25em) {
    .header__sub {
      flex-direction: row; } }
  .header__sub .asset-class {
    display: none; }
    @media (min-width: 61.25em) {
      .header__sub .asset-class {
        display: block;
        flex: 0 0 12rem;
        padding-top: 1rem; } }
    .header__sub .asset-class h1 {
      font-weight: 600;
      color: #007eb6;
      font-size: 1rem; }
    .header__sub .asset-class date {
      display: block;
      font-size: 0.875rem; }
  @media (min-width: 61.25em) {
    .header__sub .main {
      padding-right: 1rem; } }

.main .series {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2; }

.series {
  color: #444;
  font-size: 1.125rem;
  font-weight: 400;
  padding-top: 1rem; }
  @media (min-width: 61.25em) {
    .series {
      padding-top: 1rem; } }

.main .headline {
  color: #222;
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  letter-spacing: -1px;
  line-height: 1.1; }

.main .lede {
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  padding-bottom: 1rem; }
  @media (min-width: 46.25em) {
    .main .lede {
      min-height: 5rem; } }

.chapter-list .headline {
  color: #007eb6;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 400;
  padding-bottom: 0.25rem; }

.chapter-list p {
  margin-top: 0;
  margin-bottom: 1.5rem; }

.main__logo-date {
  display: flex;
  align-items: center; }

.main__date {
  font-size: 0.875rem;
  padding-top: 0.5rem;
  margin-left: auto; }
  @media (min-width: 61.25em) {
    .main__date {
      display: none; } }

blockquote {
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #007eb6;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.25rem 2rem;
  margin-bottom: 0.75rem; }
  blockquote .attribution {
    font-size: 0.875rem;
    color: #444;
    font-style: italic; }

/*@media (min-width: 46.25em) {
	blockquote {
		width: 13.75rem;
		float: left;
		padding-right: 1.25rem;
		padding-top: 0.1875rem;
		margin-bottom: 0.375rem;
	}
}
@media (min-width: 71.25em) {
	blockquote {
		width: 11.25rem;
		margin-left: -11.25rem;
		padding: 0 1.25rem;
		padding-top: 0.1875rem;
	}
}
@media (min-width: 81.25em) {
	blockquote {
		width: 16.25rem;
		margin-left: -16.25rem;
	}
}*/
.footnote-item {
  box-sizing: border-box;
  display: none;
  overflow: hidden;
  max-height: 0;
  width: 0;
  opacity: 0;
  background: #eee;
  padding: 0 1rem;
  transition: max-height .3s ease-out 0s,  width .01s ease-out .3s, opacity .2s ease-out 0s; }

.footnote-item-inner {
  display: block;
  margin: 0.5rem auto; }

.footnote-item.fn-displayed {
  display: block; }

.fn-displayed.fn-expanded {
  max-height: 3100px;
  width: 100%;
  opacity: 1;
  transition: max-height .5s ease-in .01s, width .01s ease-in 0s, opacity .2s ease-in-out .21s; }

.endnote {
  display: block;
  border-top: 1px solid #ddd; }

.endnote-inner {
  font-size: 0.875rem;
  line-height: 1.1;
  margin: 0.5rem auto; }

.side-by-side-container {
  border-left: 3px solid #007eb6;
  padding-left: 1rem;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 61.25em) {
    .side-by-side-container {
      padding-left: 0;
      display: flex;
      border: none; }
      .side-by-side-container.table-xl {
        margin-left: -11rem; } }
  .side-by-side-container .sidebyside {
    box-sizing: border-box;
    flex: 1; }
    .side-by-side-container .sidebyside.first {
      padding-right: 1.5rem; }
    .side-by-side-container .sidebyside h3 {
      font-size: 0.875rem;
      color: #444;
      font-weight: 600;
      line-height: 1.2;
      min-height: 2rem;
      margin-bottom: 0.25rem;
      display: flex;
      align-items: flex-start; }
      .side-by-side-container .sidebyside h3 span {
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap; }
    .side-by-side-container .sidebyside .caption {
      margin-bottom: 1rem; }

.in-chapter .content__meta-container.main {
  display: none; }
  @media (min-width: 61.25em) {
    .in-chapter .content__meta-container.main {
      display: flex; } }

.content__meta-container.sub {
  display: none; }

.in-chapter .content__meta-container.sub {
  display: flex; }
  @media (min-width: 61.25em) {
    .in-chapter .content__meta-container.sub {
      display: none; } }

.content__meta-container {
  position: relative;
  margin-bottom: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media (min-width: 61.25em) {
    .content__meta-container {
      position: absolute;
      top: 0;
      margin-left: -12rem;
      width: 12rem;
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .content__meta-container .posfixed {
        position: fixed;
        top: 4rem;
        background: rgba(255, 255, 255, 0.9); }
      .content__meta-container a {
        display: flex;
        margin-bottom: 0rem; } }
  .content__meta-container.icon-list {
    align-items: center; }
  .content__meta-container .disclosures {
    font-size: 0.875rem;
    line-height: 1.2;
    order: 3; }
    @media (min-width: 61.25em) {
      .content__meta-container .disclosures {
        display: none; } }
  .content__meta-container ul {
    list-style: none;
    padding: 0; }
  .content__meta-container .icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    order: 2; }
    @media (min-width: 61.25em) {
      .content__meta-container .icon-list {
        order: 0; } }
    .content__meta-container .icon-list .icon-list--print {
      display: none; }
      @media (min-width: 61.25em) {
        .content__meta-container .icon-list .icon-list--print {
          display: block; } }
    .content__meta-container .icon-list a {
      width: 2.25rem;
      height: 2.25rem;
      display: flex;
      margin-right: 0.5rem; }
      .content__meta-container .icon-list a svg {
        width: 100%;
        height: 100%; }
  .content__meta-container li {
    margin-bottom: 0; }

.attachment {
  line-height: 1.2;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }
  .attachment > span {
    display: block;
    padding-top: 0.25rem;
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 1.3; }
  .attachment a svg {
    width: 1.25rem;
    height: 1.25rem; }
  @media (min-width: 46.25em) {
    .attachment {
      float: right;
      width: 40%;
      margin-left: 1rem; } }

.certification {
  word-wrap: break-word;
  /*hyphens: auto;*/
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #bbb; }
  .certification p {
    margin: 0.5rem 0;
    font-size: 0.875rem; }
  .certification .head {
    font-weight: bold;
    margin-bottom: 0; }
  .certification .head + p {
    margin-top: 0; }

.rule-left {
  padding-left: 1rem;
  border-left: 3px solid #007eb6; }

.table-container {
  max-width: 22.5em;
  padding-top: 1rem; }
  @media (min-width: 22.5em) {
    .table-container {
      max-width: 46.25em; } }
  @media (min-width: 46.25em) {
    .table-container {
      max-width: 61.25em; } }
  .table-container > .figure-header {
    margin-top: 0.25rem; }
  .table-container table {
    overflow: auto; }

table {
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
  border-top: 2px solid #007eb6;
  border-collapse: collapse; }
  table th, table td {
    line-height: 1.1;
    padding: 0.25rem;
    padding-left: 0; }
  table th {
    text-align: center;
    color: #007eb6;
    border-bottom: 1px solid #ebeced; }

@media (min-width: 61.25em) {
  .table-lg {
    margin-left: -11rem; } }

.table-xl--btn {
  display: none; }

.table-container.table-xl .figure-header {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  background: #007eb6;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer; }
  .table-container.table-xl .figure-header span {
    color: #fff;
    display: inline-block; }
  .table-container.table-xl .figure-header .fig-number {
    white-space: nowrap;
    text-transform: uppercase; }

.table-container.table-xl .table-xl--btn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0.25rem;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 0.5rem; }
  .table-container.table-xl .table-xl--btn .icn {
    fill: #fff; }
  .table-container.table-xl .table-xl--btn.hilite .icn {
    fill: #007eb6; }

.table-container.table-xl .table-xl--btn.hilite {
  background-color: #fff; }

.table-container.table-xl table, .table-container.table-xl .caption {
  display: none; }

.table-container.table-xl table {
  border-top: none; }
  @media (min-width: 61.25em) {
    .table-container.table-xl table {
      border-top: 2px solid #007eb6; } }

@media (min-width: 61.25em) {
  .table-container.table-xl {
    margin-left: -11rem; }
    .table-container.table-xl .figure-header {
      padding: 0;
      background: transparent;
      color: #444;
      cursor: pointer; }
      .table-container.table-xl .figure-header span {
        color: rgba(0, 0, 0, 0.5); }
      .table-container.table-xl .figure-header .table-xl--btn {
        display: none; }
    .table-container.table-xl table, .table-container.table-xl .caption {
      display: block; } }

.table-pop {
  display: block !important;
  opacity: 1;
  animation: fade 1s; }
  @media (min-width: 61.25em) {
    .table-pop {
      background-color: #fff; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.caption {
  font-size: 0.75rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  line-height: 115%; }

.figure-header {
  font-size: 0.875rem;
  color: #444;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.25rem; }
  .figure-header span {
    color: rgba(0, 0, 0, 0.5);
    padding-right: 0.75rem; }

figure {
  position: relative; }

.gallery__fullscreen, .article__fullscreen {
  position: absolute; }

.gallery__fullscreen, .article__fullscreen {
  top: 0;
  right: 0;
  width: 2.75rem;
  height: 2.75rem;
  background-color: rgba(51, 51, 51, 0.6);
  margin: 0.625rem; }

.rounded-icon {
  -webkit-border-radius: 62.5rem;
  border-radius: 62.5rem;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.inline-icon {
  fill: #ffffff; }

.gallery__fullscreen.inline-expand-image svg, .article__fullscreen.inline-expand-image svg {
  width: 50%;
  height: 50%; }

.centered-icon svg {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute; }

aside.pull {
  font-weight: 400;
  font-size: 1rem;
  width: 35%;
  float: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: .5rem 0 .5em 0;
  margin-right: 1rem;
  border-top: 1px solid #d0d2d3;
  border-bottom: 1px solid #d0d2d3; }
  @media (min-width: 61.25em) {
    aside.pull {
      width: 9.5rem;
      margin-left: -11rem;
      border-top: none;
      border-bottom: none;
      margin-top: 0;
      padding-top: 0; } }

@media (min-width: 61.25em) {
  h2 + .pull,
  h3 + .pull,
  h4 + .pull,
  h5 + .pull,
  h6 + .pull {
    margin-top: 0.25rem; } }

.byline {
  font-size: 0.875rem;
  margin-top: 0;
  line-height: 1.2; }
  .byline span[data-icon] {
    color: rgba(51, 51, 51, 0.4); }
  .byline span[itemprop="author"] {
    margin-right: 0.5rem; }

.byline-sm {
  order: 1;
  width: 100%;
  display: block;
  font-size: 1rem;
  padding-bottom: 0.75rem; }
  @media (min-width: 61.25em) {
    .byline-sm {
      display: none; } }

.in-chapter .byline-in-chapter {
  display: block; }

.byline.byline-lg ul {
  display: none; }
  @media (min-width: 61.25em) {
    .byline.byline-lg ul {
      display: flex;
      flex-direction: column;
      margin-top: 1rem; }
      .byline.byline-lg ul .analyst {
        padding: 0.875rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1; }
      .byline.byline-lg ul .analyst-photo {
        display: block;
        width: 2.125rem;
        height: 2.125rem;
        border-radius: 50%;
        background: #007eb6;
        margin-right: 0.5rem;
        color: #fff;
        text-align: center;
        line-height: 2.125rem;
        font-size: 1rem;
        font-weight: 600; }
      .byline.byline-lg ul .analyst-link {
        display: flex;
        flex-direction: row;
        align-items: center; }
      .byline.byline-lg ul .analyst-deets {
        display: flex;
        flex-direction: column;
        padding-right: 1rem; } }

.popover {
  background: #fff;
  border: 1px solid #c7c7c7; }

.close-popover {
  padding: 0 0.5rem;
  float: right; }

.popover__content {
  padding: 0.875rem;
  padding-top: 0; }
  .popover__content.multiple {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.1); }
  .popover__content .popover__authors {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    width: 100%;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0.25rem;
    margin-top: 1rem; }
  .popover__content ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0; }
    .popover__content ul li {
      flex: 1 1 50%;
      margin-bottom: 0; }
      .popover__content ul li span[data-icon] {
        color: #007eb6; }
    .popover__content ul a {
      color: #444;
      font-size: 0.85rem; }

.popover {
  z-index: 1;
  position: absolute;
  background: #fff;
  width: calc(100vw - 2rem);
  display: none;
  border-radius: 0.25em;
  box-shadow: 1px 1px 2px 1px rgba(102, 102, 102, 0.35); }
  .popover .popover-credentials {
    display: block-inline;
    padding-left: 1rem; }
  @media (min-width: 46.25em) {
    .popover {
      width: 50vw; } }
  @media (min-width: 61.25em) {
    .popover {
      width: 40vw; } }
  @media (min-width: 71.25em) {
    .popover {
      width: 30vw; } }

.popover.show {
  display: block; }

.chapter-links {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.1;
  padding-top: 1rem; }
  .chapter-links a {
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #007eb6;
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: #fff; }
  .chapter-links svg {
    padding-right: 0.5rem;
    fill: #fff !important; }
  .chapter-links a:last-child {
    padding: 0.25rem 0.5rem; }
    .chapter-links a:last-child svg {
      padding-left: 0.5rem;
      padding-right: 0; }
  .chapter-links a:first-child {
    padding-right: 0.5rem; }

.quick-take {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.875rem;
  border-left: 4px solid #007eb6;
  margin: 1rem 0; }
  .quick-take :last-child {
    margin-bottom: 0; }
  .quick-take h3 {
    margin-top: 0; }
  .quick-take h4 {
    margin-top: 0; }
  .quick-take h5 {
    margin-top: 0; }

svg {
  fill: #00aeef; }
  svg.hide {
    display: block; }
  svg.icn {
    width: 1em;
    height: 1em;
    fill: #007eb6; }
  svg .icn-stroke {
    fill: #fff;
    stroke: #007eb6; }

.toc.toc__open {
  display: block; }

.sect.header {
  padding-bottom: 0.5rem; }

.toc {
  background-color: #007eb6;
  opacity: 0.90;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex; }
  .toc .toc-container {
    display: flex;
    align-items: center;
    flex-direction: row; }
  .toc svg {
    width: 2rem;
    height: auto;
    margin: 0.5rem;
    vertical-align: middle;
    fill: #fff; }
  .toc ul {
    padding: 0 1rem 1rem 1rem; }
  .toc span.region {
    color: #ddd;
    font-size: 0.75rem;
    font-weight: normal;
    display: block; }
  .toc a {
    color: #fff;
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 0.875rem; }
  .toc .toc__series {
    display: none; }
    @media (min-width: 61.25em) {
      .toc .toc__series {
        display: block;
        font-size: 1rem;
        margin-right: 1rem; } }
  .toc .toc__headline {
    font-size: 1rem;
    margin-right: 1rem;
    display: none; }
  .toc .toc__theme {
    display: none; }
  .toc .toc__content-type {
    font-size: 1rem; }
  .toc .toc__toc {
    max-height: 0;
    overflow: hidden;
    background: #808285;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99); }
    .toc .toc__toc.toc__open {
      max-height: 1000px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99); }
    @media (min-width: 61.25em) {
      .toc .toc__toc {
        left: 0; } }
    .toc .toc__toc ul ul {
      padding-bottom: 0; }
    .toc .toc__toc li {
      list-style: none;
      margin-bottom: 0;
      line-height: 1.2; }
    .toc .toc__toc .sect {
      margin-bottom: 0rem; }
    .toc .toc__toc .sect a {
      font-weight: 700;
      color: #fff;
      margin-top: 0.75rem; }
  @media (min-width: 61.25em) {
    .toc {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%);
      position: absolute;
      width: 17rem;
      height: 65%;
      top: 35%;
      left: auto;
      right: -17rem; }
      .toc .toc-container {
        display: flex;
        flex-direction: row; }
      .toc .toc__elements {
        border-left: 2px solid #fff;
        padding-left: 0.5rem; }
      .toc .menu-bug {
        width: 20%;
        padding: 0.5rem;
        margin: 0; }
      .toc .toc__series {
        display: none; }
      .toc .toc__headline {
        display: none; }
      .toc .toc__date {
        margin-left: 0; }
      .toc svg {
        width: 2.5rem;
        margin: 0;
        padding: 0; }
      .toc div {
        display: flex;
        flex-direction: column;
        width: 98%; }
      .toc .toc__content-type {
        display: block;
        font-size: 1.25rem;
        line-height: 1.1;
        font-weight: 400;
        margin-bottom: 0.25rem; }
      .toc .toc__theme {
        display: block;
        font-size: 1.15rem;
        line-height: 1.1;
        font-weight: 400;
        opacity: 0.75; } }

@media (min-width: 61.25em) {
  .toc.fix-top {
    background: #007eb6;
    position: fixed;
    width: 100%;
    margin-top: 0;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto; }
    .toc.fix-top .toc-container {
      max-width: 67.5em;
      margin: 0 auto; }
    .toc.fix-top .toc__elements {
      border-left: none; }
    .toc.fix-top .toc__series {
      display: block;
      font-size: 1rem;
      margin-right: 1rem; }
    .toc.fix-top .toc__headline {
      display: block;
      font-size: 1rem;
      margin-right: 1rem; }
    .toc.fix-top .toc__theme {
      display: none; }
    .toc.fix-top .toc__content-type {
      display: none; }
    .toc.fix-top .toc__date {
      display: block;
      margin-left: auto; }
    .toc.fix-top div {
      flex-direction: row;
      align-items: center; }
    .toc.fix-top .menu-bug {
      width: auto; }
    .toc.fix-top svg {
      width: 2.25rem;
      margin: 0.5rem; }
    .toc.fix-top .toc__content-type {
      font-size: 0.875rem;
      font-weight: 700; } }
  @media (min-width: 61.25em) and (min-width: 46.25em) {
    .toc.fix-top .toc__toc {
      padding-right: 1rem;
      width: 100%; }
      .toc.fix-top .toc__toc > ul {
        padding-left: 4rem;
        width: 67.5em;
        margin: 0 auto; } }

@media (min-width: 61.25em) {
  .toc.fix-top-open {
    height: 3rem;
    transition: all 0.25s; } }

/* to demo multichapter switching */
/* included to display switching functionality only */
.switch-h1 {
  color: #444;
  font-size: 1.5rem;
  font-weight: 400; }

.switch-h1 {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media (min-width: 61.25em) {
    .switch-h1 {
      font-size: 1.15rem;
      color: #444; } }

.switch-h2 {
  margin-top: 0.25rem;
  font-size: 1.5rem; }

.switch-h2 {
  color: #222;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  line-height: 1.1;
  color: #007eb6; }
  @media (min-width: 61.25em) {
    .switch-h2 {
      margin-top: 0.25rem;
      font-size: 1.5rem;
      color: #007eb6; } }

.switch-lede {
  font-weight: 300;
  font-size: 1.45rem;
  line-height: 1.25; }
  @media (min-width: 61.25em) {
    .switch-lede {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5; } }

.sect svg {
  display: none;
  fill: #fff;
  width: 0.875rem;
  height: 0.875rem; }

.sect.active svg {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=barclays-regular.css.map */