// footnotes

.footnote-item {
	box-sizing: border-box;
	display: none; 
	overflow: hidden;
	max-height: 0;
	width: 0;
	opacity: 0;
	background: #eee;
	padding: 0 1rem;
	transition: max-height .3s ease-out 0s, 
	width .01s ease-out .3s,
	opacity .2s ease-out 0s;
}
.footnote-item-inner {
	display: block;
	margin: 0.5rem auto;
}
.footnote-item.fn-displayed {
	display: block;
}
.fn-displayed.fn-expanded {
	max-height: 3100px;
	width: 100%;
	opacity: 1;
	transition: max-height .5s ease-in .01s,
	width .01s ease-in 0s,
	opacity .2s ease-in-out .21s;
}


.endnote {
	display: block;
	border-top: 1px solid #ddd;
}

.endnote-inner {
	font-size: 0.875rem;
	line-height: 1.1;
	margin: 0.5rem auto;
}
