//links to next and previous chapter found at the bottom of each page
.chapter-links {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    line-height: 1.1;
    padding-top: 1rem;
    a {
        font-weight: 600;
        display: flex;
        align-items: center;
        background: $link;
        padding: 0.25rem;
        border-radius: $radius;
        color: #fff;
    }
    svg {
        padding-right: 0.5rem;
        fill: #fff !important;
    }
    a:last-child {
        padding: 0.25rem 0.5rem;
        svg {
            padding-left: 0.5rem;
            padding-right: 0;
        }
    }
    a:first-child {
        padding-right: 0.5rem;
    }

}