.quick-take {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.875rem;
    border-left: 4px solid $link;
    margin: 1rem 0;
     :last-child {
        margin-bottom: 0;
    }
    h3 {
        margin-top: 0;
    }
    h4 {
        margin-top: 0;
    }
    h5 {
        margin-top: 0;
    }
}