/* begin gs-container */
.content { 
	border-top: 0.0625rem solid #ffffff;
	padding-top: 0;
	padding-bottom: 2.25rem;
	padding-top: 1rem; 
}
.content:after {
	content: '';
	display: block;
	clear: both;
}
.u-cf:after, .u-cf:before {
	content: '';
	display: table;
}
.gs-container {
	position: relative;
	margin: 0 auto;
}
.content .gs-container, .content-footer .gs-container {
	@include box-model;
	padding: 0 0.825rem;
}
@media (min-width: $break-two) {
	.gs-container {
		max-width: $break-two;
	}
}
@media (min-width: $break-three) {
	.gs-container {
		/*max-width: $break-three;*/
		max-width: $workingbreak;
	}
}
@media (min-width: $break-four) {
	.gs-container {
		// max-width: $break-four;
		max-width: $workingbreak;
	}
}
@media (min-width: $break-five) {
	.gs-container {
		// max-width: $break-five;
		max-width: $workingbreak;
	}
}
@media (min-width: 30em) {
	.content .gs-container, .content-footer .gs-container {
		padding: 0 1.25rem;
	}
}
// end gs-container

article {
	background: rgb(245, 245, 248);
}

.content__header .content__main-column {
	
}

.content__main-column {
	background: #fff;
	margin: auto;
	position: relative;
	bottom: 0;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 0;
	@include box-model;
	@media (min-width: $break-three){
		padding-top: 0.25rem;
		margin-left: 0;
		margin-right: 17rem; 
		min-height: 8rem;
		padding-right: 2rem;
	}
}

// because .content__main... is used twice
// .content__header .content__main-column:first-child {
// 		@media (min-width: $break-three){
// 		padding-top: 1rem;
// 	}
// }

.content__article-body {
	width: 100%;
	@media (min-width: $break-three){
		margin-left: 12rem;
		width: calc( 100% - 12rem);
		position: relative;
	}
}
.content__header {
	@media (min-width: $break-three){
		padding-top: 3rem;
		background: $link;
		// background-image: url('https://live.barcap.com/publiccp/RSR/nyfipubs/template/Links/72664753.jpg'); // airplanes
		// background-image: url('https://live.barcap.com/publiccp/RSR/nyfipubs/template/insights.jpg'); // default
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position:  50% 50%;
	}
}

.content__secondary-column {
	display: none;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 17.5rem;
	overflow: hidden;
	.certifications-disclosures {
		font-size: 0.875rem;
		padding: 0.25rem 0.5rem;
	}
	@media (min-width: $break-three){
		display: block;
	}
}

.main {
	.logo-ref {
		display: block;
		padding-top: 1rem;
		@media (min-width: $break-three){
			display: none;
		}
	}
}
.logo-ref {
	display: block;
	max-width: 130px;
	padding-top: 2px;
	height: 28px;
}

.header__sub {
	display:flex;
	flex-direction: column;
	@media (min-width: $break-three) {
		flex-direction: row;
	}

	.asset-class {
		display: none;
		@media (min-width: $break-three){
			display: block;
			flex: 0 0 12rem;
			padding-top: 1rem;
		}
		h1 {
			font-weight: 600; 
			color: $link;
			font-size: 1rem;
		}
		date {
			display: block;
			// margin-top: 0.25rem;
			font-size: 0.875rem;
		}
	}

	.main {
		@media (min-width: $break-three){
			padding-right: 1rem;
		}
	}
}



// header styles

.main .series {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.2;
}
.series {
	color: $text;
	font-size: 1.125rem;
	font-weight: 400;
	padding-top: 1rem;
	@media (min-width: $break-three){
		padding-top: 1rem;
	}
}

.main .headline {
	color: #222;
	font-size: 2.5rem;
	font-weight: 300;
	padding-bottom: 0.5rem;
	letter-spacing: -1px;
	line-height: 1.1;
}

.main .lede {
	font-size: 1.45rem;
	font-weight: 300;
	line-height: 1.25;
	margin: 0;
	padding-bottom: 1rem;
	@media (min-width: $break-two){
		// padding-bottom: 0;
		min-height: 5rem;
	}
}

.chapter-list .headline {
	color: $link;
	font-size: 1.5rem;
	line-height: 1.1;
	font-weight: 400;
	padding-bottom: 0.25rem;
}

.chapter-list p {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

.main__logo-date {
display: flex; 
align-items: center;
}

.main__date {
	font-size: 0.875rem; 
	padding-top: 0.5rem; 
	margin-left: auto;
	@media (min-width: $break-three){
		display: none;
	}
}


