.table-container {
	max-width: $break-one;
	padding-top: 1rem;
		// 360px;
		@media (min-width: $break-one){
			max-width: $break-two;
		}
		@media (min-width: $break-two){ 
			max-width: $break-three;
		}
		> .figure-header {
			margin-top: 0.25rem;
		}
		table {
			overflow: auto;
		}
	}

	table {
		width: 100%;
		margin: 0;
		font-size: 0.875rem;
		border-top: 2px solid $specialblue;
		border-collapse: collapse;
		th, td {
			line-height: 1.1;
			padding: 0.25rem;
			padding-left: 0;
		}
		th {
			text-align: center;
			color: $specialblue;
			border-bottom: 1px solid $gray10;
		}
		tr:nth-of-type(even) { 
		// background: #eee; 
	}
}

.table-lg {
	@media (min-width: $break-three){
		margin-left: -11rem;
	}
}

.table-xl--btn {
	display: none;
}

// wide tables
.table-container.table-xl {
	//header small screen
	.figure-header {
		display: flex;
		align-items: center;
		border-radius: $radius;
		background: $link;
		padding: 0.5rem;
		color: #fff;
		cursor: pointer;
		span {
			color: #fff;
			display: inline-block;
		}
		.fig-number {
			white-space: nowrap;
			text-transform: uppercase;
		}
	}
	// arrows for expand collapse
	.table-xl--btn {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		padding: 0.25rem;
		flex-shrink: 0;
		border-radius: 50%;
		margin-right: 0.5rem;
		.icn {
			fill: #fff;
		}
		&.hilite .icn {
			fill: $link;
		}
	}
	// alternate state for arrow background
	.table-xl--btn.hilite {
		background-color: #fff;
	}
	// hide caption on small screens
	table, .caption {
		display: none;
	}
	table {
		border-top: none;
		@media (min-width: $break-three){
			border-top: 2px solid $specialblue;
		}
	}
	@media (min-width: $break-three){
		margin-left: -11rem;
		.figure-header {
			padding: 0;
			background: transparent;
			color: $text;
			cursor: pointer;
			span {
				color: $blk-050;
			}
			.table-xl--btn {
				display: none;
			}
		}
		// display captions on wide screen
		table, .caption{
			display: block;
			
		}
	}
}


.table-pop {
	display: block !important;
	opacity: 1;
	animation: fade 1s;
	@media (min-width: $break-three){
		background-color: #fff;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}












