// toc displayed
.toc.toc__open {
	display: block;
}
// 
.sect.header {
	padding-bottom: 0.5rem;
}
.toc {
	background-color: $link;
	opacity: 0.90;
	position: fixed;
	z-index: 9999;
	top:0;
	left: 0;
	width: 100%;
	height: 3rem; 
	display: flex;
	.toc-container {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	// small screen
	svg {
		width: 2rem; 
		height:auto; 
		margin: 0.5rem;
		vertical-align: middle;
		// padding-left:0.5rem;
		fill: #fff;
	}
	ul {
		padding: 0 1rem 1rem 1rem;
	}
	span.region {
		color: #ddd;
		font-size: 0.75rem;
		font-weight: normal;
		display: block;
	}
	a {
		color: #fff;
		display: inline-block;
		margin-right: 0.25rem;
		font-size: 0.875rem;
	}
	// .toc__elements {
	// 	display: flex;
	// 	align-items: baseline;
	// 	line-height: 1.2;
	// }
// these are displayed on small and scroll
.toc__series {
	display: none;
	@media (min-width: $break-three){
		display: block;
		font-size: 1rem;
		margin-right: 1rem;
	}
}
.toc__headline {
	font-size: 1rem;
	margin-right: 1rem;
	display: none;
}
.toc__theme {
	display: none;
}
.toc__content-type {
	font-size: 1rem;
}

.toc__toc {
	max-height: 0;
	overflow: hidden;
	background: $gray75;
	width: 100%; 
	position: absolute;
	left: 0;
	transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99);
	&.toc__open {
		max-height: 1000px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99);
	}
	@media (min-width: $break-three){
		left: 0;
	}
	ul ul {
		padding-bottom: 0;
	}
	li {
		list-style: none;
		margin-bottom: 0;
		line-height: 1.2;
	}
	.sect {
		margin-bottom: 0rem;
	}
	.sect a {
		font-weight: 700;
		color: #fff;
		margin-top: 0.75rem;
	}
}
	// .toc wide screen
	@media (min-width: $break-three){
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 100%);
		position: absolute;
		width: 17rem;
		height: 65%;
		top: 35%;
		left: auto;
		right:-17rem;
		
		.toc-container {
			display: flex; 
			flex-direction: row;
		}
		.toc__elements {
			border-left: 2px solid #fff;
			padding-left: 0.5rem;
		}
		.menu-bug {
			width: 20%;
			padding: 0.5rem;
			margin: 0;
		}
		.toc__series {
			display: none;
		}
		.toc__headline {
			display: none;
		}
		.toc__date {
			margin-left:0;
		}
		svg {
			width: 2.5rem; 
			margin: 0;
			padding: 0;
		}
		div {
			display: flex;
			flex-direction: column;
			width: 98%;
		}
		.toc__content-type {
			display: block;
			font-size: 1.25rem;
			line-height: 1.1;
			font-weight: 400;
			margin-bottom: 0.25rem;
		}
		.toc__theme {
			display: block;
			font-size: 1.15rem;
			line-height: 1.1;
			font-weight: 400;
			opacity: 0.75;
		}
	}
}
// when the menu is fixed to the top via scroll
.toc.fix-top {
	@media (min-width: $break-three){
		background: $link;
		position: fixed;
		width: 100%;
		margin-top: 0;
		height: 0;
		top: 0;
		left: 0;
		bottom: auto;
		right: auto;
		.toc-container {
			max-width: $workingbreak;
			margin: 0 auto;
		}

		.toc__elements {
			border-left: none; 
		}

		.toc__series {
			display: block;
			font-size: 1rem;
			margin-right: 1rem;
		}
		.toc__headline {
			display: block;
			font-size: 1rem;
			margin-right: 1rem;
		}

		.toc__theme {
			display: none; 
		}
		.toc__content-type {
			display: none;
		}
		.toc__date {
			display: block;
			margin-left: auto;
		}

		div {
			flex-direction: row;
			align-items: center;
		}
		.menu-bug {
			// padding-left:1rem;
			width: auto;
		}
		svg {
			width: 2.25rem; 
			margin: 0.5rem;
		}
		.toc__content-type {
			font-size: 0.875rem;
			font-weight: 700;
		}
		.toc__toc {
			@media (min-width: $break-two){
				padding-right: 1rem;
				width: 100%;
				> ul {
					padding-left:4rem;
					width: 67.5em;
					margin:0 auto;
				}
			}
		}
	}
}
.toc.fix-top-open {
	@media (min-width: $break-three){
		height: 3rem;
		transition: all 0.25s;
	}
}